<ion-content padding>
  <p>Welcome.Insert the driver details</p>
  <ion-content padding style="background-color:#5BC8AC" >

    <div>
      <ion-label>Name</ion-label>
      <ion-input type="text" class="TextStyle" name="Name" [(ngModel)]="Name"></ion-input>
      <ion-label>Username</ion-label>
      <ion-input type="text" class="TextStyle" name="Username" [(ngModel)]="Username"></ion-input>
      <ion-label>Vehicle</ion-label>
      <ion-input type="text" class="TextStyle" name="Vehicle" [(ngModel)]="Vehicle"></ion-input>
      <ion-label>PhoneNo</ion-label>
      <ion-input type="text" class="TextStyle" name="PhoneNo" [(ngModel)]=PhoneNo></ion-input>
      <ion-label>City</ion-label>
       <ion-list>
         <ion-item>
            <ion-select class="TextStyle" name="City" [(ngModel)]="City">
              <ion-option value="BANGLORE">BANGLORE</ion-option>
              <ion-option value="GHY">GHY</ion-option>
              <ion-option value="NAVI-MUMBAI">NAVI_MUMBAI</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
          
    
    
      <ion-label>Password</ion-label>
      <ion-input type="text" class="TextStyle" name="Password" [(ngModel)]="Password"></ion-input>
      <ion-label>Admin</ion-label>
      <ion-input type="text" class="TextStyle" name="Admin" [(ngModel)]="Admin"></ion-input>

      <button ion-button small (click)="submitpage(Name,Username,Vehicle,PhoneNo,City,Password,Admin)">Submit</button>
</div>
</ion-content>
