<!--
  Generated template for the QuickBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>quick_booking</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form>
        <ion-item>
            <ion-label floating>City ID.</ion-label>
            <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <button ion-button full color="primary" [disabled]="!authForm.valid" style="margin-top: 20px;" type="submit">Authorize</button>
    </form>


</ion-content>