<ion-title>Driver Availablility</ion-title>
<ion-content padding style="background-color:#5BC8AC">
    <!-- <ion-item>
        <ion-label>Available</ion-label>
        <ion-toggle [(ngModel)]="Available"></ion-toggle>
    </ion-item>-->

    <!--<p> {{responseTxt}} </p>-->

    <button ion-button full> Available Drivers </button>

    <!--<p>Response: </p>-->

    <div id=driver>
        <ion-list>
            <ion-item>
                <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                </ion-avatar>
                <h2 (click)="notify()">{{drivers[0]}}</h2>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                </ion-avatar>
                <h2 (click)="notify()">{{drivers[1]}}</h2>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                </ion-avatar>
                <h2 (click)="notify()">{{drivers[2]}}</h2>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                </ion-avatar>
                <h2 (click)="notify()">{{drivers[3]}}</h2>
            </ion-item>

            <ion-item>
                <ion-avatar item-start>
                    <img src="img/avatar-cher.png">
                </ion-avatar>
                <h2 (click)="notify()">{{drivers[4]}}</h2>

            </ion-item>

        </ion-list>
    </div>

</ion-content>