<ion-header>
  <ion-navbar>
    <ion-title>
      Automovill
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg" >
  <!--style="background:url('../assets/imgs/bg.jpg')">-->
  <img src="../assets/imgs/logo.png">
  
  
    <!--<ion-item>
      <ion-label>Login as Admin</ion-label>
      <ion-checkbox > [(ngModel)]="Login as Admin"</ion-checkbox>
    </ion-item>-->
    
      <ion-item>
    <input  type="text" placeholder="Username" name="Username" [(ngModel)]="Username"/>
    </ion-item>
    <ion-item>
    <input type="password" placeholder="Password" name="password" [(ngModel)]="password"/>
    </ion-item>
    <ion-item>
    <button ion-button block  (click)="gopage(Username,password)">Login</button>
  </ion-item>
</ion-content>
